@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Campeonatos Simples</h1>
    <p class="lead">Campeonatos Simples é uma aplicação para gerenciar seus campeonatos times e etc</p>
    <p><a href="https://www.linkedin.com/in/wallace-rodrigues-27a91685/" class="btn btn-primary btn-lg">Conheça o desenvolvedor &raquo;</a></p>
</div>

